.popup {
  font-family: 'Nanum Gothic';
}

.title {
  padding: 2rem 0 0;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
}

.optionGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 24px 28px;
}

.footer {
  margin-top: 2rem;
}
