@import '../../styles/variables.scss';

.popup {
  font-family: $font-regular;
  background-color: #ffffff;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.title {
  padding: 35px 0 0;
  font-size: 17px;
  letter-spacing: 0.16px;
  text-align: center;
  color: $dark;
}

.optionGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 24px 28px;
}

.optionDescription {
  font-size: 15px;
  padding: 0 24px;
  visibility: hidden;
  &.visible {
    visibility: visible;
  }
}

.footer {
  margin-top: 16px;
}
