@import '../../styles/variables.scss';

.optionSelectItem {
  display: flex;
  align-items: center;
  .title {
    flex-grow: 1;
    line-height: 2;
    font: 15px $font-regular;
  }
  .optionSelect {
    width: 50%;
  }
}
