@font-face {
  font-family: 'FilsonProLight';
  src: url('../fonts/Filson/FilsonProLight.otf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'FilsonProRegular';
  src: url('/fonts/Filson/FilsonProRegular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FilsonProRegularItalic';
  src: url('/fonts/Filson/FilsonProRegular-Italic.otf');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'FilsonProBold';
  src: url('/fonts/Filson/FilsonProBold.otf');
  font-weight: 600;
  font-style: normal;
}
