@import './reset.scss';
@import './fonts.scss';
@import './variables.scss';

* {
  font-family: 'FilsonProRegular', 'sans-serif';
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  background-color: $grey-5;
}

button {
  color: rgba(0, 0, 0, 0.87);
}

.page {
  height: calc(100vh);
  background-color: $grey-5;
  padding: $header-height $gutter $footer-height;
  overflow-y: scroll;
}

.divider {
  margin-top: 10px;
}

@media only screen and (min-width: $bp-sm) {
  .page {
    padding-top: $header-height + $gutter;
  }
}
