@import '../../styles/variables.scss';

.home {
}

.playerSection {
  margin-bottom: $gutter;
}

@media only screen and (min-width: $bp-sm) {
  .home {
    display: flex;
    gap: $gutter * 2;
  }

  .playerSection,
  .prizeSection {
    width: 50%;
  }
}
