@import '../../styles/variables.scss';

.optionSelect {
  display: flex;
  height: 30px;

  .arrowBtn {
    width: 30px;
    background-color: $secondary-color;
    color: white;
    border: 0;
    border-radius: 4px;
    cursor: pointer;

    &:disabled {
      opacity: 0.6;
    }
  }
  .option {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 0 3px;
    padding: 0 16px;
    background-color: $grey-5;
    font-size: 15px;
    border-radius: 4px;
  }
}
