.footer {
  display: flex;
  width: 100%;
  height: 50px; /* TODO: declare a varilable */
  position: fixed;
  left: 0;
  bottom: 0;
  font-family: 'Nanum Gothic';
  background-color: #ffffff;

  .subBtn {
    padding: 0 2rem;
    margin-right: 1rem;
    border-top: 0.1rem solid #ff3d68;
    border-bottom: 0.1rem solid #ff3d68;
    border-right: 0.1rem solid #ff3d68;
    border-top-right-radius: 1rem;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      background-color: #ff3d68; /* TODO: Color refactoring */
      svg {
        fill: #ffffff;
      }
    }
  }

  .mainBtn {
    flex-grow: 1;
    background-color: #ff3d68;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2rem;
    border: 0;
    border-top-left-radius: 1rem;
    cursor: pointer;

    &:hover {
      background-color: #fd2957;
    }

    &:disabled {
      background-color: #ff3d68;
      opacity: 0.6;
    }

    .count {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2rem;
      height: 2rem;
      margin-right: 1rem;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      border-radius: 50%;
      background-color: white;
      color: #ff3d68;
      font-weight: normal;
      font-size: 0.9rem;
    }
  }
}
