@import '../../styles/variables.scss';

.footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 16px $gutter;
  background-color: $grey-5;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }

  button {
    width: 100%;
    border-radius: 4px;
    font: 15px $font-bold;
    letter-spacing: 0.43px;
    text-transform: uppercase;
    border: solid 1px $primary-color;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 42px;
  }

  .outline {
    color: $primary-color;
    background-color: white;

    &:disabled {
      color: rgba(0, 0, 0, 0.15);
      background-color: white;
      border: solid 1px rgba(224, 224, 224, 0.12);
    }
  }

  .solid {
    color: white;
    background-color: $primary-color;

    &:disabled {
      color: rgba(0, 0, 0, 0.15);
      background-color: rgba(0, 0, 0, 0.12);
      border: solid 1px rgba(224, 224, 224, 0.12);
    }
  }

  .subBtn {
    width: 48px;
    flex-shrink: 0;
  }

  .mainBtn {
    position: relative;
    .count {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 26px;
      height: 26px;
      margin-right: 10px;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      border-radius: 50%;
      background-color: white;
      color: $primary-color;
      font-family: $font-regular;
      font-size: 13px;
    }
    &:disabled {
      .count {
        color: rgba(0, 0, 0, 0.15);
      }
    }
  }
}

@media only screen and (min-width: $bp-sm) {
  .footer {
    max-width: $max-width-desktop-percent;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: none;
    padding-left: $gutter * 3;
    padding-right: $gutter * 3;
  }
}
