@import '../../styles/variables.scss';

.header {
  width: 100%;
  padding: calc($gutter + 30px) $gutter $gutter;
  position: fixed;
  top: 0;
  left: 0;
  font-family: $font-regular;
  background-color: $grey-5;
  z-index: 1000;

  .title {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
  }

  .description {
    display: flex;
    align-items: center;
    padding-top: 5px;
    font-size: 13px;
    color: #8a8a8a;
  }

  .button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 20px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }
}
