@import '../../styles/variables.scss';

.footer {
  display: flex;
  height: $footer-height;
  padding: 16px $gutter;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    gap: 16px;
  }

  button {
    width: 100%;
    border-radius: 4px;
    font: 15px $font-bold;
    letter-spacing: 0.43px;
    text-transform: uppercase;
    border: solid 1px $primary-color;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 42px;

    &.outline {
      color: $primary-color;
      background-color: white;

      &:disabled {
        color: rgba(0, 0, 0, 0.15);
        background-color: white;
        border: solid 1px rgba(224, 224, 224, 0.12);
      }
    }

    &.solid {
      color: white;
      background-color: $primary-color;

      &:disabled {
        color: rgba(0, 0, 0, 0.15);
        background-color: rgba(0, 0, 0, 0.12);
        border: solid 1px rgba(224, 224, 224, 0.12);
      }
    }
  }
}

@media only screen and (min-width: $bp-sm) {
  .footer {
    padding: 16px $gutter * 4;
  }
}
