@font-face {
  font-family: 'Nanum Gothic';
  src: url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');
}

.page {
  margin: 120px 24px 50px; // top: Header's height, bottom: Footer's height
}

.divider {
  margin-top: 10px;
}
